#banner {
  max-height: 330px;
  overflow: hidden;
  position: relative;
  margin: 0 0 30px 0;
}

#banner h1 {
  position: absolute;
  top: 70px;
  margin: 0;
  width: 100%;
  text-align: center;
  background-color: white;
  color: black;
}

.hidden {
  display: none;
}

.input-container {
  width: 20%;
  padding: 0 14%;
  display: inline-block;
}

input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
          font-size: 30px;
          padding: 10px;
          width: 50px;
          height: 50px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

.updown {
  width: 30px;
  height: 30px;
  padding: 20px 0 0 0;
}

button {
  display: block;
  margin: 50px auto;
  background-color: black;
  color: antiquewhite;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 50px;
  border-style: groove;
}

label {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 25px;
  padding: 0 12%;
  display: inline-block;
}

input {
  margin: 10px auto;
  width: 49%;
  padding: 5px 0;
  background-color: black;
  color: white;
  display: inline-block;
}

#resultsentence {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 25px;
  text-align: center;
  display: block;
}

.kittens {
  display: inline-block;
}