<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <title>CICA BREED</title>
</head>
<body>
    <div id="banner">
        <img src="/static/cat.jpg"  width="100%"/>
        <h1>On this page, everything is about cats!</h1>
    </div>

  <div class="form">
    <input id="male" type="number">
    <input id="female" type="number">
    <label for="male">Number of male cats</label>
    <label for="female">Number of female cats</label>
    <button id="breed">BREED</button>
  </div>

  <div class="result hidden">
    <h1 id="resultsentence"></h1>
    <img id="kittens" src="/static/cat.gif" width="7%">
    <button id="breedagain">BREED AGAIN</button>
  </div>
  
  <script src="/static/dom.js"></script>
</body>
</html>